extends layout.pug

block content
  div
    table.todo_table
      thead
        tr
          th title
          th status
          th action
      tbody    
        each todo, id in todos
          include _todo.pug
